<link rel="stylesheet" type="text/css" href="/css/main.css">
<link rel="stylesheet" type="text/css" href="/css/slick.css" />

<footer>
    <div class="coluna-3 footer" id="content4">
        <div class="content">
            <br><br>
            <div class="col-4">
                <h3><b>Esperamos poder te atender</b></h3>
                <p>Buscando sempre melhorar para atender você da melhor maneira</p>

                <p>
                <p>Funcionando desde </p>
                <p class="clock">22-maio 2010
                <p>
            </div>
            <div class="col-4">
                <h3><b>Tags</b></h3>
                <p>#tech #info #assistencia #startup #empresa #consultoria #curso #tecnologia #informação #infortec
                    #programação #serviços #preparação
                    #software #hardware #redes #sistema #computação </p>
            </div>
            <div class="col-4">
                <h3><b>Sobre nós</b></h3>
                <p>
                    Nós da Empresa Omega Soluções acreditamos na nossa empresa tal qual acreditamos na qualidade do
                    serviço das empresas que prestamos serviço em toda a região do pajeú.
                </p>
            </div>
            <div class="col-4">
                <h3><b>Entre em contato</b></h3>
                <p>
                    Qualquer duvida você pode entrar em contato por email, telefone ou vir até nossa sede
                </p>
                <p class="local">Afogados da Ingazeira, Pernambuco
                <p>
                <p class="email">omegasoluc@gmail.com
                <p>
                <p class="telefone">890-09880-45590
                <p>
            </div>
        </div>
    </div>
</footer>
<div class="coluna-3 footer-2">
    <div class="content">

        <p>
            @COPYRIGHT
        </p>
    </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"></script>